<ons-navigator title="Favoritos" var="favsVar">
  <ons-page ng-controller="favoritesController">
    <ons-toolbar>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="ons.slidingMenu.toggleMenu()"><ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon></ons-toolbar-button>
        </div>
        <div class="center">Favoritos</div>
      </ons-toolbar>
    </ons-toolbar>

    <ons-list ng-if="baysAll.length > 0">
      <ons-list-item class="list__item--tappable list__item__line-height baySelectFavs" modifier="chevron" ng-repeat="bay in baysAll" ng-click="loadBay( bay.file )">
        {{bay.name | capitalize}}
      </ons-list-item>
    </ons-list>

    <div class="row row-center" ng-if="baysAll.length === 0">
      <div class="col">
        <h4>No tienes favoritos aún!</h4>
      </div>
    </div>

  </ons-page>
</ons-navigator>