<ons-page style="background-color: white">

  <ons-list>
    <ons-list-item
      modifier="chevron"
      ng-click="ons.slidingMenu.setMainPage('partials/base.html', {closeMenu: true})">

      <i class="fa fa-home fa-lg" style="color: #666"></i> &nbsp; Home
    </ons-list-item>

    <ons-list-item 
      modifier="chevron"
      ng-click="ons.slidingMenu.setMainPage('partials/favorites.html', {closeMenu: true})">

      <i class="fa fa-star fa-lg" style="color: #666"></i> &nbsp; Favoritos
    </ons-list-item>

    <ons-list-item 
      modifier="chevron"
      ng-click="ons.slidingMenu.setMainPage('partials/settings.html', {closeMenu: true})">

      <i class="fa fa-gear fa-lg" style="color: #666"></i> &nbsp; Configuración
    </ons-list-item>

  </ons-list>

</ons-page>