<ons-page ng-controller="BayController">
  <ons-toolbar>
    <ons-toolbar>
      <div class="left"><ons-back-button>Volver</ons-back-button></div>
      <div class="center">{{nameBay | capitalize}}</div>
    </ons-toolbar>
  </ons-toolbar>
  
  <br>
  
  <ons-list ng-repeat="day in itemDays">
    <div id="current_day_scroll" ng-if="day.todayClass != ''"></div>
    <ons-list-header class="list__header ons-list-header-inner ng-binding {{day.todayClass}}">
      <div class="row row-center">
        <div class="col col-50"><p><strong>{{day.data.day}}-{{day.data.months}}-{{day.data.years}}</strong></p></div>
        <div class="col">
          <p>{{day.moonPhaseDay}}</p>
        </div>
        <div class="col">
          <img src="assets/img/{{day.moonPhaseDayImg}}" class="icon-moon">
        </div>
      </div>
    </ons-list-header>
    <ons-list-item>
      <div class="row row-center">
        <div class="col">
          <p>
            <b>{{day.data.h1st}} hr</b>
            <span class="p-hora">{{day.data.m1st}} {{day.data.t1st}}</span>
          </p>
        </div>
        <div class="col">
          <p>
            <b>{{day.data.h2st}} hr</b>
            <span class="p-hora">{{day.data.m2st}} {{day.data.t2st}}</span>
          </p>
        </div>
        <div class="col">
          <p>
            <b>{{day.data.h3st}} hr</b>
            <span class="p-hora">{{day.data.m3st}} {{day.data.t3st}}</span>
          </p>
          
        </div>
        <div class="col">
          <p ng-show="day.hasH4st == 1">
            <b>{{day.data.h4st}} hr</b>
            <span class="p-hora">{{day.data.m4st}} {{day.data.t4st}}</span>
          </p>
        </div>
      </div>
    </ons-list-item>
  </ons-list>

</ons-page>