<ons-navigator title="Configuración" var="settinfsVar">
  <ons-page ng-controller="settingsController">
    <ons-toolbar>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="ons.slidingMenu.toggleMenu()"><ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon></ons-toolbar-button>
        </div>
        <div class="center">Configuración</div>
      </ons-toolbar>
    </ons-toolbar>

    <ons-list>
      <ons-list-header><h4>Notificaciones</h4></ons-list-header>

      <ons-list-item>
        <ul class="list margin-top-adjuster">

          <li class="list__item list__item--tappable moonPhaseNotif">
            <span class="list__item__line-height">
              <label class="checkbox wrapper-label">
                <input type="checkbox" ng-model="moonChk" 
                                       ng-checked="moonChk"
                                       ng-change="moonPhaseChange(moonChk)">
                <div class="checkbox__checkmark checkbox-list-left-section">
                </div>
                <div class="checkbox-list-right-section"><span style="color: #666">Cambio fase lunar</span></div>
              </label>
            </span>
          </li>

          <li class="list__item list__item--tappable weekendNotif">
            <span class="list__item__line-height">
              <label class="checkbox wrapper-label">
                <input type="checkbox" ng-model="weekendChk" 
                                       ng-checked="weekendChk"
                                       ng-change="weekendChange(weekendChk)">
                <div class="checkbox__checkmark checkbox-list-left-section">
                </div>
                <div class="checkbox-list-right-section"><span style="color: #666">Fin de semana</span></div>
              </label>
            </span>
          </li>

        </ul>

        <ons-row>
          <div ng-show="listBayNotif" id="listBayNotif">
            <ul class="list margin-top-adjuster">
              <li class="list__header"><h5>Notificaciones para tus favoritos</h5></li>

              <li class="list__item list__item--tappable notifBaySel" ng-repeat="item in baysAll">
                <span class="list__item__line-height">
                  <label class="checkbox wrapper-label">
                    <input type="checkbox" ng-model="item.checked" 
                                           ng-checked="item.checked"
                                           ng-change="bayChanged(item.bay.file, item.checked, item.bay.name)">
                    <div class="checkbox__checkmark checkbox-list-left-section">
                    </div>
                    <div class="checkbox-list-right-section">{{item.bay.name | capitalize}}</div>
                  </label>
                </span>
              </li>

            </ul>

            <div class="list" ng-if="baysAll.length === 0">
              <div class="item item-divider">
                <h4>Debes agregar bahías a tus favoritos.</h4>
              </div>
            </div>
          </div>
        </ons-row>
      </ons-list-item>
    </ons-list>
  </ons-page>
</ons-navigator>