.row.row-center{
    background-color: #E9E9E9 !important;
}
.row.row-center.today_tide{
    background-color: #98CC98 !important;
}
.icon-moon{
    width: 24px;
    display: inline-block;
    margin-top: 5px;
}
.p-hora{
    font-size: 12px;
}