<ion-view title="Mareas Chile">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header" scroll="true">
    <ion-list ng-controller="homeController">
      <ion-item ng-repeat="bay in baysAll" href="#/app/bay/{{bay}}" class="item item-icon-right">
        {{bay}}
        <i class="icon ion-ios7-arrow-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>

<!--
<div class="content">
    <div class="card">
        <h1>Home</h1>
        <ul class="table-view" id="list_bays">

        </ul>
        <!-- notificaciones bahias - ->
        <div class="response_notif"></div>
    </div>
    <div class="preload"><span></span></div>
</div>
-->