<ons-navigator title="Configuración" var="settinfsVar">
  <ons-page ng-controller="settingsController">
    <ons-toolbar>
      <ons-toolbar>
        <div class="left">
          <ons-toolbar-button ng-click="ons.slidingMenu.toggleMenu()"><ons-icon icon="ion-navicon" style="font-size: 32px; width: 1em;"></ons-icon></ons-toolbar-button>
        </div>
        <div class="center">Configuración</div>
      </ons-toolbar>
    </ons-toolbar>

    <ons-list>
      <ons-list-header><h4>Notificaciones</h4></ons-list-header>

      <ons-list-item>
        <span style="color: #666">Cambio fase lunar</span>
        <ons-switch modifier="list-item" var="moonPhaseNotif" id="moonPhaseNotif" onchange="moonPhaseChange()"></ons-switch>
      </ons-list-item>

      <ons-list-item>
        <span style="color: #666">Fin de semana</span>
        <ons-switch modifier="list-item" var="weekendNotif" onchange="weekendChange()"></ons-switch>
      </ons-list-item>
    </ons-list>

    <!-- <ons-row>
      <div class="list">

        <div class="row row-center" ng-show="listBayNotif">
          <div class="list" ng-if="baysAll.length > 0">
            <div class="item item-divider">
              Notificaciones de tus favoritos
            </div>
            <ion-checkbox ng-repeat="item in baysAll"
                          ng-model="item.checked" 
                          ng-checked="item.checked"
                          ng-change="bayChanged(item.bay.file, item.checked, item.bay.name)">
              {{item.bay.name | capitalize}}
            </ion-checkbox>
          </div>
          <div class="list" ng-if="baysAll.length === 0">
            <div class="item item-divider">
              Debes agregar bahías a tus favoritos.
            </div>
          </div>
        </div>
          
        </div>
    </ons-row> -->

  </ons-page>
</ons-navigator>