<?xml version='1.0' encoding='utf-8'?>
<widget id="com.tides.ng" version="0.0.3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Mareas Chile</name>
    <description>
        Mareas de Chile para pesca deportiva.
    </description>
    <author email="cristian@rotrer.com" href="http://twitter.com/rotrer">
        @rotrer
    </author>
    <content src="index.html" />
    <access origin="*" />
    <platform name="android">
        <icon src="www/res/drawable-ldpi/ic_launcher.png" density="ldpi" />
        <icon src="www/res/drawable-mdpi/ic_launcher.png" density="mdpi" />
        <icon src="www/res/drawable-hdpi/ic_launcher.png" density="hdpi" />
        <icon src="www/res/drawable-xhdpi/ic_launcher.png" density="xhdpi" />
     </platform>
</widget>
