<section class="clientes">
	{{!-- <div class="bg"></div> --}}

	<div class="inner">
		<div class="main-title">
			<h2>clientes</h2>
		</div>

		<ul>
			<li>
				<div class="d-table">
					<div class="d-table-cell">
						<img src="../images/clientes/laaraucana.png" alt="image">
					</div>
				</div>
			</li>

			<li>
				<div class="d-table">
					<div class="d-table-cell">
						<img src="../images/clientes/agrosuper.png" alt="image">
					</div>
				</div>
			</li>

			<li>
				<div class="d-table">
					<div class="d-table-cell">
						<img src="../images/clientes/ripley.png" alt="image">
					</div>
				</div>
			</li>

			<li>
				<div class="d-table">
					<div class="d-table-cell">
						<img src="../images/clientes/twistos.png" alt="image">
					</div>
				</div>
			</li>

			<li>
				<div class="d-table">
					<div class="d-table-cell">
						<img src="../images/clientes/loreal.png" alt="image">
					</div>
				</div>
			</li>

			<li>
				<div class="d-table">
					<div class="d-table-cell">
						<img src="../images/clientes/lg.png" alt="image">
					</div>
				</div>
			</li>
		</ul>

		<div class="slider slider-clientes">

			<div class="item">
				<div class="item-inner">
					<div class="d-table">
						<div class="d-table-cell">
							<img src="../images/clientes/laaraucana.png" alt="image">
						</div>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="item-inner">
					<div class="d-table">
						<div class="d-table-cell">
							<img src="../images/clientes/agrosuper.png" alt="image">
						</div>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="item-inner">
					<div class="d-table">
						<div class="d-table-cell">
							<img src="../images/clientes/ripley.png" alt="image">
						</div>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="item-inner">
					<div class="d-table">
						<div class="d-table-cell">
							<img src="../images/clientes/twistos.png" alt="image">
						</div>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="item-inner">
					<div class="d-table">
						<div class="d-table-cell">
							<img src="../images/clientes/loreal.png" alt="image">
						</div>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="item-inner">
					<div class="d-table">
						<div class="d-table-cell">
							<img src="../images/clientes/lg.png" alt="image">
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>
</section>