<section class="equipo">
	<div class="inner">
		<div class="main-title">
			<h2>equipo</h2>
		</div>

		<div class="ribbon">
			<div class="object">
				<img class="ribbon-left" src="../images/cinta-left.png" alt="image">
				<img class="ribbon-right" src="../images/cinta-right.png" alt="image">
				<div class="h3">todos somos bowl</div>
			</div>
		</div>

		<div class="grid">
			<div class="row row-1">
				{{> hexagon }}
				{{> hexagon }}
				{{> hexagon }}
				{{> hexagon }}
				{{> hexagon }}
			</div>

			<div class="row row-2">
				{{> hexagon }}
				{{> hexagon }}
				{{> hexagon }}
				{{> hexagon }}
				{{> hexagon }}
				{{> hexagon }}
			</div>

			<div class="row row-3">
				{{> hexagon }}
				{{> hexagon }}
				{{> hexagon }}
				{{> hexagon }}
				{{> hexagon }}
			</div>

			<div class="row row-4">
				{{> hexagon }}
				{{> hexagon }}
				{{> hexagon }}
				{{> hexagon }}
				{{> hexagon }}
				{{> hexagon }}
			</div>

			<div class="row row-5">
				{{> hexagon }}
				{{> hexagon }}
				{{> hexagon }}
				{{> hexagon }}
				{{> hexagon }}
			</div>

		</div>

	</div>
</section>

