<header role="navigation" class="mobile">
	<div class="top">
		<div class="pull-left">
			<img src="../images/logo-mobile.png" alt="image">
		</div>

		<div class="pull-right">
			<div class="icon-menu">
				<i class="fa fa-angle-down"></i>
			</div>
		</div>
	</div>

	<ul>
		<li>
			<a href="#">Lo que hacemos</a>
		</li>
		<li>
			<a href="#">Clientes</a>
		</li>
		<li>
			<a href="#">La gente</a>
		</li>
		<li>
			<a href="#">Encuéntranos</a>
		</li>
	</ul>
</header>

<header role="navigation">
	<div class="inner">
		<ul>
			<li>
				<a href="#">Lo que hacemos</a>
			</li>
			<li>
				<a href="#">Clientes</a>
			</li>
			<li>
				<a href="#">La gente</a>
			</li>
			<li>
				<a href="#">Encuéntranos</a>
			</li>
		</ul>
	</div>
</header>