<div class="video-index ah">
	<video width="920" height="480" autoplay muted loop>
		<source src="videos/background_1080.mp4" type="video/mp4" />
	</video>
</div>

<section class="jumbotron ah">

	<div class="d-table">
		<div class="d-table-cell">

			<div class="inner">

				<div class="object object-1">
					<img src="images/falcon.png" alt="image">
				</div>

				<div class="logo">
					<img src="images/logo.png" alt="logo">
					<h2>Ideas sin recetas</h2>
				</div>

				<div class="object object-2">
					<img src="images/dobladita.png" alt="image">
				</div>

				<div class="object object-3">
					<img src="images/cat.png" alt="image">
				</div>

			</div>

		</div>
	</div>

</section>