<section class="proyectos">
	<div class="inner">
		<div class="main-title">
			<h2>Proyectos</h2>
		</div>
	</div>

	<div class="wrapper-slider">

		<div class="slider slider-proyectos">

			<div class="item">
				<div class="item-inner">
					<img src="../images/proyectos/1.jpg" alt="image">

					<div class="information">
						<div class="h1 title">#Desfilopor</div>
						<br>
						<div class="h2">Campaña digital</div>
						<div class="h3">Cliente: Mall Plaza</div>

						<div class="content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum quis officiis delectus ratione reiciendis ipsa veritatis, dolores et ipsam nihil.</div>

						<div class="footer">
							<p>Ver:</p>

							<ul>
								<li>
									<div class="icon"><i class="fa fa-link"></i></div>
								</li>
								<li>
									<div class="icon"><i class="fa fa-facebook"></i></div>
								</li>
								<li>
									<div class="icon"><i class="fa fa-twitter"></i></div>
								</li>
								<li>
									<div class="icon"><i class="fa fa-youtube"></i></div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>

			<div class="item">
				<div class="item-inner">
					<img src="../images/proyectos/1.jpg" alt="image">
				</div>
			</div>

			<div class="item">
				<div class="item-inner">
					<img src="../images/proyectos/1.jpg" alt="image">
				</div>
			</div>

			<div class="item">
				<div class="item-inner">
					<img src="../images/proyectos/1.jpg" alt="image">
				</div>
			</div>

			<div class="item">
				<div class="item-inner">
					<img src="../images/proyectos/1.jpg" alt="image">
				</div>
			</div>

			<div class="item">
				<div class="item-inner">
					<img src="../images/proyectos/1.jpg" alt="image">
				</div>
			</div>

		</div>
	</div>

</section>