.today_tide{
    background-color: #98CC98 !important;
    color: #ffffff  !important;
}
.icon-moon{
    width: 24px;
    display: inline-block;
    margin-top: 11px;
}
.settings_form{
    margin: 10px;
}
#fav_togg{
    margin-top: 6px;
}
.preload{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9999;
    background-color: #fff;
    display: none;
}
.preload span{
    background: url(../img/preload.gif);
    width: 64px;
    height: 64px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 44%;
}
#notif_bays{
    display: none;
}