<div class="clearfix">
  <h4>{{nameBay | capitalize}} <a href="#/home" class="label bg-default pull-right"><i class="icon-angle-left icon-xlarge text-default"></i> Volver</a></h4>
</div>
<div class="row-fluid">
  <div class="span6">
    <!-- .accordion -->
    <div class="accordion" id="accordion2">
      <div class="accordion-group ng-binding {{day.todayClass}}" ng-repeat="day in itemDays">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-target="#collapse-{{day.data.day}}" data-toggle="collapse" data-parent="#accordion2" href="javascript:;">
            <!--  -->
            <div class="span8">
              <div class="row-fluid row-2-phone">
                <div class="span6">
                  <strong>{{day.data.day}}-{{day.data.months}}-{{day.data.years}}</strong>
                </div>
                <div class="span6">
                  <!-- <p>{{day.moonPhaseDay}}</p> -->
                  <!-- <img src="assets/img/{{day.moonPhaseDayImg}}" class="icon-moon"> -->
                  <i class="icon-expand-alt icon-xlarge pull-right"></i>
                </div>
              </div>
            </div>
            <!--  -->
          </a>
        </div>
        <div id="collapse-{{day.data.day}}" class="accordion-body collapse {{ day.collapseClass }}">
          <div class="accordion-inner text-small">
            
            <div class="span8">
              <div class="row-fluid row-2-phone">
                  <div class="panel">
                    <table class="table table-striped m-b-none text-small">
                      <thead>
                        <tr>
                          <th>Hora</th>
                          <th>Altura</th>
                          <th>Marea</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{day.data.h1st}}</td>
                          <td>{{day.data.m1st}}</td>
                          <td>{{day.data.t1st}}</td>
                        </tr>
                        <tr>
                          <td>{{day.data.h2st}}</td>
                          <td>{{day.data.m2st}}</td>
                          <td>{{day.data.t2st}}</td>
                        </tr>
                        <tr>
                          <td>{{day.data.h3st}}</td>
                          <td>{{day.data.m3st}}</td>
                          <td>{{day.data.t3st}}</td>
                        </tr>
                        <tr>
                          <td>{{day.data.h4st}}</td>
                          <td>{{day.data.m4st}}</td>
                          <td>{{day.data.t4st}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="panel moon">
                    <p>Fase lunar para hoy es {{day.moonPhaseDay}} <img src="assets/img/{{day.moonPhaseDayImg}}"></p>
                    <div class="clearfix"></div>
                  </div>
                <!-- <div class="span6">
                  <div class="col">
                    <p>
                      <b>{{day.data.h1st}} hr</b>
                      <span class="p-hora">{{day.data.m1st}} {{day.data.t1st}}</span>
                    </p>
                  </div>
                  <div class="col">
                    <p>
                      <b>{{day.data.h2st}} hr</b>
                      <span class="p-hora">{{day.data.m2st}} {{day.data.t2st}}</span>
                    </p>
                  </div>
                  <div class="col">
                    <p>
                      <b>{{day.data.h3st}} hr</b>
                      <span class="p-hora">{{day.data.m3st}} {{day.data.t3st}}</span>
                    </p>
                    
                  </div>
                  <div class="col">
                    <p ng-show="day.hasH4st == 1">
                      <b>{{day.data.h4st}} hr</b>
                      <span class="p-hora">{{day.data.m4st}} {{day.data.t4st}}</span>
                    </p>
                  </div>
                </div> -->
                <!-- <div class="span6">
                  <img src="assets/img/{{day.moonPhaseDayImg}}" class="icon-moon pull-left">
                  <p>{{day.moonPhaseDay}}</p>
                  <div class="clearfix"></div>
                </div>
              </div> -->
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- / .accordion -->
  </div>
</div>

<button class="btn btn-primary btn-block fav-add" ng-show="favAdd" ng-click="addFav();">
  <i class="icon-star"></i>
  Agregar a Favoritos
</button>

<button class="btn btn-danger btn-block fav-delete" ng-show="favDelete" ng-click="deleteFav();">
  <i class="icon-remove"></i>
  Eliminar de Favoritos
</button>
<p>&nbsp;</p>
    