<div class="clearfix">
  <h4>Notificaciones <a href="#/home" class="label bg-default pull-right"><i class="icon-angle-left icon-xlarge text-default"></i> Volver</a></h4>
</div>
<div class="row-fluid">
  <ul class="list-group">
    <li class="list-group-item">
      <div class="btn-group pull-right m-t-n-mini m-r-n-mini" data-toggle="buttons-radio">
        <button type="button" class="btn btn-small btn-white btn-on moonPhaseNotif" ng-class="moon_active" ng-click="moonPhaseChange(true)">ON</button>
        <button type="button" class="btn btn-small btn-white btn-on moonPhaseNotif" ng-class="moon_inactive" ng-click="moonPhaseChange(false)">OFF</button>
      </div>
      <i class="icon-bell"></i> Cambio Fase Lunar
    </li>
    <li class="list-group-item">
      <div class="btn-group pull-right m-t-n-mini m-r-n-mini" data-toggle="buttons-radio">
        <!-- active -->
        <button type="button" class="btn btn-small btn-white btn-on weekendNotif" ng-class="weekend_active" ng-click="weekendChange(true)">ON</button>
        <button type="button" class="btn btn-small btn-white btn-on weekendNotif" ng-class="weekend_inactive" ng-click="weekendChange(false)">OFF</button>
      </div>
      <i class="icon-calendar"></i> Fines de Semana Favoritos
    

    </li>
  </ul>
</div>